.user-wrapper {
    display: flex;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    width: 100%;
}

.user-container {
    flex: 3;
    background-color: var(--fondo-vistas);
    border: 1px solid var(--dark-brown);
    border-radius: 1.5rem;
    padding: 2rem;
    color: var(--texto-oscuro);
    font-family: var(--font-family-texto);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.user-container h2 {
    font-family: var(--font-family-titulos-subtitulos);
    font-size: var(--titulos-size);
    color: var(--nav-footer);
    margin-bottom: 2rem;
}

.user-info {
    margin-bottom: 2rem;
}

.user-info p {
    font-size: var(--texto-size);
    margin: 1rem 0;
}

.user-info strong {
    color: var(--texto-principal);
}

.user-button {
    padding: 1rem 2rem;
    background-color: var(--nav-footer);
    color: var(--letras-nav);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: var(--texto-size);
    font-family: var(--font-family-titulos-subtitulos);
    transition: all 0.3s ease;
}

.user-button:hover {
    background-color: var(--nav-hover);
    color: var(--fondo-vistas);
}

/* Adaptaciones móviles */
@media (max-width: 720px) {
    .user-wrapper {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        max-width: 100%;
    }

    .user-container {
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .user-container h2 {
        font-size: 1.8rem; /* Ajusta el tamaño relativo */
    }

    .user-info p {
        font-size: 1.4rem;
        margin: 0.8rem 0;
    }

    .user-button {
        padding: 0.8rem 1.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    .user-wrapper {
        padding: 1rem;
        gap: 1rem;
        max-width: 100%;
        width: 100%;
    }

    .user-container {
        padding: 1rem;
        border-radius: 0.8rem;
        width: 100%;
    }

    .user-container h2 {
        font-size: 1.6rem;
    }

    .user-info p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .user-button {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }
}

@media (max-width: 360px) {
    .user-wrapper {
        padding: 1rem;
        gap: 1rem;
        max-width: 100%;
        width: 100%;
    }

    .user-container {
        padding: 0.8rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    .user-container h2 {
        font-size: 1.4rem;
    }

    .user-info p {
        font-size: 1rem;
    }

    .user-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}
