.container-lista-direcciones {
    padding: 20px;
    margin: 20px auto;
    background-color: var(--fondo-vistas);
    border: 2px solid var(--nav-footer);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.titulo-direcciones {
    font-family: var(--font-family-titulos-subtitulos);
    font-size: var(--titulos-size);
    font-weight: var(--font-weight-bold);
    color: var(--texto-principal);
    margin-bottom: 15px;
    text-align: center;
}

.lista-direcciones {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-direccion {
    padding: 15px;
    margin: 10px 0;
    background-color: var(--letras-nav);
    border: 1px solid var(--nav-footer);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.item-direccion:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--nav-hover);
}

.texto {
    font-family: var(--font-family-texto);
    font-size: var(--texto-size);
    font-weight: var(--font-weight-regular);
    color: var(--texto-oscuro);
    margin: 5px 0;
}

.nombre-direccion {
    color: var(--texto-principal);
}

.calle-direccion {
    color: var(--nav-footer);
}

.ciudad-direccion {
    color: var(--dark-brown);
}

.lista-vacia {
    text-align: center;
    margin-top: 20px;
}
