.user-profile-wrapper {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: var(--fondo-vistas);;
    border-radius: 10px;
}

.titulo {
    text-align: center;
}

.user-profile-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}

.user-profile-row:last-child {
    border-bottom: none;
}

.user-profile-row label {
    font-weight: bold;
    color: var(--nav-footer);
    flex: 1;
}

.user-profile-row p,
.user-profile-row input {
    flex: 2;
    color: #333;
    font-size: 1rem;
}

.user-profile-row input {
    padding: 8px 12px;
    border: 1px solid var(--fondo-vistas);
    border-radius: 5px;
    background-color: var(--fondo-vistas);;
    color: var(--nav-footer);
    outline: none;
    transition: all 0.3s ease;
}

.user-profile-row input:focus {
    border-color: var(--nav-footer);
    box-shadow: 0 0 4px var(--nav-footer);
    background-color: var(--fondo-vistas);
}

.user-profile-buttons {
    text-align: center;
    margin-top: 20px;
}

.user-profile-buttons button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--fondo-vistas);
    background-color: var(--nav-footer);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 120, 255, 0.2);
}

.user-profile-buttons button:hover {
    background-color: var(--nav-hover);
    box-shadow: 0 6px 10px rgba(0, 95, 204, 0.4);
}

.user-profile-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}


