@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap);

.container-sobre-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}
.container-sobre-nosotros h1{
    font-size: var(--titulos-size);
    font-family: Poppins, sans-serif;
}
.container-sobre-nosotros p{
    font-size: var(--subtitulos-size);
}
.carrusel {
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
}
.container-descripcion{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.imagen-logo-bushido-beans{
    width: 50%;
    max-width: 60rem;
    min-width: 40rem;
}
.descripcion-texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: var(--nav-footer);
    padding-right: 5%;
    max-width: 55%;
    font-size: var(--subtitulos-size);
}
.separador{
    width: 90%;
    border-top: 2px solid var(--nav-footer);
}
.container-mision, .container-valores {
    background-color: var(--nav-footer);
    width: 90%;
    min-width: 34rem;
    display: flex;
    align-items: center; 
    padding: 2rem; 
    border-radius: 20px;
}
.imagen-mision, .imagen-valores {
    max-width: 40rem;
    min-width: 30rem;
    border-radius: 20px;
}
.container-texto-mision, .container-texto-valores{
    text-align: justify;
    max-width: 50%;
    color: var(--letras-nav);
    margin: auto;
    padding: 2rem;
}
.container-texto-mision h1, .container-texto-valores h1{
    text-align: center;
}
.spanBeans{
    font-weight: bolder;
    font-size: 30px;
}

----------------------------------------


.padree .texto {
    color: var(--nav-footer); /* Verde oscuro */
}

.padree .subtitulo {
    color: var(--nav-footer);
}

.container-titulo p{
    color: var(--nav-footer);
}

.separador{
    width: 90%;
    border-top: 2px solid var(--nav-footer);
}
.separador-secundario{
    width: 80%;
    margin: 0 auto;
    border-top: 1.5px solid var(--nav-footer);
    margin-top: 1%;
    margin-bottom: 1%;
}

.container-equipo{
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column;
}
.titulo-equipo{
    text-align: center;
}
.subtitulo-equipo{
    text-align: center;
    padding: 1%;
}

.container-componentes{
    
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex: 4;
    align-items: center;
    flex-direction: row;
}


.container-informacionAdicional {
    display: flex; 
    margin-top: 20px; 
    margin: 0; 
    margin-bottom: 5%;
}

.container-informacion {
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.container-maps {
    margin-top: 3%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    
}

.map-container iframe{
    border-radius: 10px;
}

.container-dondeEstamos,
.container-redesSociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; 
}

.container-direccion-contacto,
.container-img-redesSociales {
    padding: 10%;
    width: 100%; 
    border: 2px solid var(--nav-footer);
    border-radius: 50px;
    margin-bottom: 10px;
}

.separador-informacionAdicional {
    width: 100%;
    border-top: 1.5px solid var(--nav-footer);
    margin-top: 1%;
    margin-bottom: 3%;
}
.container-img-redesSociales {
    padding: 10%;
    width: 100%; 
    display: flex;
    justify-content: center; 
    gap: 2%; 
}

.redes-sociales-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.ig{
    margin-top: 6%;
}
.tw{
    margin-top: 12%;
}
.fc{
    margin-top: 8%;
}



/* Estilos para la sección de Visión */







