/* -----GENERAL----- */
header {
  background-color: var(--nav-footer);
  font-family: 'Poppins', sans-serif;
  font-size: var(--titulos-size);
  font-weight: var(--font-weight-bold);
}

.hDisplay {
  display: grid;
  grid-template-columns: 1fr 10fr 8fr 1fr 1fr;
  align-items: center;
  padding: 5px 10px;
  gap: 2rem;
}

.hHidden,
.hMovil {
  display: none;
}

/* -----BOTONES DEL HEADER----- */
.nl {
  color: var(--letras-nav);
  text-decoration: none;
  transition: 0.2s ease;
  padding: 0px 10px;
}

.nl:hover {
  transform: scale(1.05);
  color: var(--nav-hover);
}

.nl:active {
  color: var(--nav-click);
}

.btns1 {
  display: flex;
  gap: 3rem;
  justify-self: left;
}

/* -----LOGO----- */
.hLogo {
  height: 45px;
  width: 45px;
  background-image: url(recursos/LogoD.png);
  background-size: cover;
  justify-self: right;
}

.hLogo:hover {
  background-image: url(recursos/LogoH.png);
}

.hLogo:active {
  background-image: url(recursos/LogoA.png);
}


/* -----BOTON DESPLEGABLE----- */
.despl {
  position: relative;
  justify-self: right;
}

.desplToggle {
  height: 40px;
  width: 40px;
  background-image: url(recursos/PerfilD.png);
  background-size: cover;
  transition: 0.2s ease;
}

.desplToggle:hover {
  transform: scale(1.05);
  background-image: url(recursos/PerfilH.png);
}

.desplToggle:active,
.desplToggle.active {
  transform: scale(1.05);
  background-image: url(recursos/PerfilA.png);
}


/* -----MENU DESPLEGABLE + OPCIONES----- */
.desplMenu {
  position: absolute;
  top: 130%;
  left: -9.5rem;
  background-color: #295026;
  border: 1px solid #203E1D;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Vollkorn', sans-serif;
  font-size: var(--texto-size);
  color: var(--letras-nav);
  z-index: 1000;
}

.desplOpcion {
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.desplOpcion:hover {
  color: var(--nav-hover);
}

.desplOpcion:active {
  color: var(--nav-click);
}

.dnl {
  text-decoration: none;
  color: inherit;
}


/* -----BOTON CESTA----- */
.cesta {
  height: 50px;
  width: 50px;
  background-image: url(recursos/CestaD.png);
  background-size: cover;
  justify-self: right;
}

.cesta:hover {
  background-image: url(recursos/CestaH.png);
}

.cesta:active {
  background-image: url(recursos/CestaA.png);
}


.cesta[data-count="0"]::after {
  content: "";
  visibility: hidden;
}

.cesta::after {
  content: attr(data-count);
  position: absolute;
  top: 3px;
  right: -2px;
  background-color: red;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

@media (max-width: 705px) {
  .hDisplay {
    display: none;
  }

  .hHidden {
    display: block;
  }

  .btns2 {
    display: grid;
    grid-template-columns: 3fr 7fr 1fr;
    align-items: center;
    padding: 5px 10px;
    gap: 2rem;
  }

  .btns1 {
    display: flex;
    justify-content: center;
    width: 99%;
    padding: 5px;
  }

  .hLogo {
    height: 6rem;
    width: 15rem;
    background-image: url(recursos/FootLogoD.png);
    background-size: cover;
    justify-self: left;
  }

  .hLogo:hover {
    background-image: url(recursos/FootLogoH.png);
  }

  .hLogo:active {
    background-image: url(Footrecursos/FootLogoA.png);
  }
}

@media (max-width: 475px) {
  .hMovil {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    gap: 3rem;
  }

  .hHidden {
    display: none;
  }

  .hLogo {
    height: 4.5rem;
    width: 4.5rem;
    background-image: url(recursos/LogoD.png);
    background-size: cover;
    justify-self: left;
  }

  .hLogo:hover {
    background-image: url(recursos/LogoH.png);
  }

  .hLogo:active {
    background-image: url(Footrecursos/LogoA.png);
  }

  .hbutton{
    position: relative;
  }
  .hmenu{
    display: grid;
    grid-column: 1;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: var(--nav-footer);
    width: 100%;
    text-align: center;
    padding: 5px;
    z-index: 1;
  }
  .hbutton{
    height: 40px;
    width: 40px;
    background-image: url(recursos/DesplD.png);
    background-size: cover;
    justify-self: left;
    transition: 0.2s ease;
  }
  .hbutton:hover {
    transform: scale(1.05);
    background-image: url(recursos/DesplH.png);
  }
  
  .hbutton:active {
    background-image: url(recursos/DesplA.png);
    
  }
}
