.inventario {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 1%;
  justify-items: center;
  padding: 10px;
  background-color: var(--fondo-vistas);
 
}

.CardProduct {
  width: 100%; 
  max-width: 300px; 
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px hsla(96, 65%, 49%, 0.333);
  text-align: center;
  background-color: var(--nav-footer);
  gap: 12px;
  font-family: var(--font-family-texto);
  font-size: var(--texto-size);
  font-weight: var(--font-weight-regular);
  color: white;
  
}

.productName {
  font-family: var(--font-family-titulos-subtitulos);
  font-size: var(--subtitulos-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  color: white;
  grid-column: span 2;
}

.imgPrueba {
  height: auto;
  grid-column: span 2;
  align-items: center;
  border-radius: 10px;
  width: 100%; /* Asegura que no se salga del contenedor */
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0px 0px 10px hsla(96, 65%, 49%, 0.333);
}

.iconos {
  display: flex;
  gap: 5px;
}

.detalles {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-titulos-subtitulos);
  font-size: var(--subtitulos-size);
  font-weight: var(--font-weight-regular);
  text-align: right;
  
}

.detalles2 {
  font-family: var(--font-family-titulos-subtitulos);
  font-size: var(--subtitulos-size);
  font-weight: var(--font-weight-regular);
}

.CardProduct.sold-out {
  color: #888;
}

.CardProduct.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}

.CardProduct.sold-out p {
  filter: grayscale();
  opacity: 0.8;
}

.CardProduct.sold-out button {
  pointer-events: none;
  filter: grayscale();
  opacity: 0.8;
}

/* Estilos para el botón transparente sin borde */
.botonCardClick {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para el botón del carrito */
.boton {
  grid-column: span 2;
  justify-self: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.89);
  height: 40px;
  width: 80%;
  font-family: var(--font-family-titulos-subtitulos);
  background-color: var(--fondo-vistas);
  color: rgb(11, 37, 17);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.boton:hover {
  background-color: yellow; /* Cambia el fondo a amarillo en hover */
  color: green; /* Cambia el texto a verde en hover */
}

.botonCardClick {
  background: transparent;
  border: none;
}

@media (max-width: 600px) {
  .CardProduct {
    width: 90%; 
    max-width: 280px; 
    margin: 0 auto; 
  }
  .busqueda-wrapper{
    background-color: var(--fondo-vistas);
  }
}

@media (max-width: 375px){
  .CardProduct {
    width: 90%; 
    max-width: 270px; 
    margin: 0 auto; 
  }
  .detalles2, .iconos {
    display: none;
}
}

@media (max-width: 320px){
  .CardProduct {
    width: 100%; 
    max-width: 260px; 
    margin: 0 auto; 
  }
  .detalles2, .iconos {
    display: none;
}
}

