@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

footer{
  background: linear-gradient(
    to bottom, var(--nav-footer) 0%, var(--nav-footer) 80%, #ffffff00 100%
    );
  height: 120px;
  font-family: 'Vollkorn';
  font-size: var(--texto-size);
  font-weight: var(--font-weight-regular);
  color: var(--letras-nav);
}

.fLogo{
  display: inline-block;
  height: 80px;
  width: 200px;
  background-image: url(recursos/FootLogoD.png);
  background-size: cover;
  transition: transform 0.2s ease;
  position: relative;
  top: 10px;
  left: 50px;
}
.fLogo:hover{
  transform: scale(1.05);
  background-image: url(recursos/FootLogoH.png);
}
.fLogo:active{
  background-image: url(recursos/FootLogoA.png);
}

.redes{
  display: flex;
  gap: 100px;
}
.redes img{
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 10px;
}
.redes a{
  display: inline-flex;
  position: relative;
  left: 100vh;
  bottom: 40px;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: inherit;
}
.redes a:hover {
  transform: scale(1.05);
  color: var(--nav-hover);
}
.redes a:active {
  color: var(--nav-click);
}

footer p{
  text-align: center;
  color:rgb(88, 88, 88);
}