.introDiv {
  height: 99vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom, var(--nav-footer) 0%,rgb(20, 20, 20) 10%, rgb(20, 20, 20) 90%, var(--nav-footer) 100%
    );
}

.introImg {
  width: 35%;
  opacity: 0;
  animation: aparecerImagen 2s forwards;
  animation-delay: 1s;
}

@keyframes aparecerImagen {
  to {
      opacity: 1;
  }
}
