input {
    width: 300px;
    height: 45px;
    padding-left: 15px;
    background-color: var(--fondo-vistas);
    border-radius: 8px;
    border: 1.25px solid var(--nav-footer);
    color: var(--texto-oscuro);
}

input::placeholder{
    color: var(--nav-footer);
    font-style: var(--subtitulos);
}

input:focus {
    outline: none;
    border-color: var(--nav-hover);
    background-color: var(--fondo-vistas);
}

input:focus::placeholder {
    color: var(--texto-oscuro);
}