html, body {padding:0; margin:0; height:100%;}

.inventario{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px 10px;
  padding: 5px 5px 5px ;

}

.cardPrueba{
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 12px;
  box-shadow: 0px 0px 10px hsla(96, 65%, 49%, 0.333);
  text-align: center;
  background-color: var(--nav-footer);  
  gap: 10px;
  font-family: var(--font-family-texto);
  font-size: var(--texto-size);
  font-weight: var(--font-weight-regular);
  color: white;
  

}

.productName{
  font-family: var(--font-family-titulos-subtitulos);
  font-size: var(--subtitulos-size);
  font-weight: var(--font-weight-regular);
  color: white;
  grid-column: span 2;
  padding-top: 10px;
}



.imgPrueba{
  grid-column: span 2;
  align-items: center;
  
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0px 0px 10px hsla(96, 65%, 49%, 0.333);


}

.detallesDiv{
  display: flex;
  justify-content: space-between ;
  padding-top: 10px;
  
}


.cardPrueba.sold-out {
  color: #888;
}

.cardPrueba.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}



.cardPrueba.sold-out button {
  display: none;
}



.botonPrueba{
  grid-column: span 2;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.89);
  height: 30px;
  
}

.añadirCestaJ{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  justify-content: space-between;
}

@media (max-width: 500px){
  .imgPrueba{
    height: auto;
    width: 100%;
  }
}