.Carrito{
    display: grid;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(17, 68, 17);
    border-radius: 10px;

    
}

.CarritoHead{
    color: white;
    font-family: var(--font-family-titulos-subtitulos);
    font-size: var(--titulos-size);
    font-weight: var(--font-weight-bold);
    margin: 0 auto;

}

.ProductosGrid{
    display: grid;
    grid-template-columns: 2, 1fr;
    margin-left: 15%;
}

.producto{
    color: white;
    font-family: var(--font-family-titulos-subtitulos);
    
}

.productoImg{
    width: 80px;
}

.productoName{
    font-size: var(--titulos-size);
    font-weight: var(--font-weight-bold);
}

.productoDetalles{

}

