
.carrusel {
    margin-top: 20px;
    height: 200px; /* Alto fijo, ajusta según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Oculta cualquier contenido que desborde */
}


.carrusel img {

    width: 90%; /* Ancho fijo */
   
    

}