.contenedor-catalogo{
    background-color: var(--fondo-vistas);

}

.contenedor-catalogo aside{
    border-right: 2px solid var(--nav-footer);
    margin-top: 105px;
    margin-right: 20px;
    position: sticky;
    top: 0;
    float: left;
    display: grid;

}

.carrusel-catalogo{
    width: 1410px;
    height: 451px;
    margin: 2% auto 0;
    border-radius: 20px;
    background-color: transparent;
    overflow: hidden;
    
    
}



.botonCentrado{
    padding-top: 30px;
    display: flex;
    justify-content: center;

    
}