.contenedor-catalogo{
    background-color: var(--fondo-vistas);

}

.contenedor-catalogo aside{
    margin-top: 2.5%;
    position: sticky;
    top: 0;
    float: left;
    
    display: grid;
}

.carrusel-catalogo{
    width: 1429px;
    height: 451px;
    margin: 2% auto 0;
    border-radius: 20px;
    background-color: transparent;
    overflow: hidden;
    
    
}



.botonCentrado{
    padding-top: 30px;
    display: flex;
    justify-content: center;

    
}