

.order-confirmation {
    background-color: var(--fondo-vistas);
    padding: 2rem 10rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;

    
  }

  .order-confirmation2 {
    background-color: var(--fondo-vistas);
    padding: 2rem 10rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    font-family: var(--font-family-titulos-subtitulos);
    font-size: var(--titulos-size);
    font-weight: var(--font-weight-bold);
    color: var(--nav-footer);

    
  }
  
  .order-confirmation div {
    margin-bottom: 10px;
    font-family: var(--font-family-texto);
    font-size: var(--subtitulos-size);
    color: var(--nav-footer);
  }
  
  .order-confirmation div strong {
    font-weight: bold;
    
  }
  
  .order-confirmation ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-confirmation ul li {
    background-color: #f8f8f8;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
  }
  
  .order-confirmation h1 {
    color: var(--nav-footer);
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-family-titulos-subtitulos);
    font-size: var(--titulos-size);
    font-weight: var(--font-weight-bold);
  }
  