.container-supremo {
        display: flex;
        margin: 8vh auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    
.login {
    width: 60%;
    border-radius: 50px;
}

.accede {
    text-align: center;
    margin: 10% 0% 0% 0%;
    background-color: var(--fondo-vistas);
    color: var(--texto-principal);
    font-size: var(--subtitulos-size);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.usaGmail {
    text-align: center;
    background-color: var(--fondo-vistas);
    font-size: var(--subtitulos-principal);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 10% 0% ;
}

#email, #password {
    padding-left: 15px;
    margin: 1% 0px 1% 30%;
    width: 300px;
    height: 45px;
    background-color: var(--fondo-vistas);
    border-radius: 8px;
    border: 1.25px solid var(--nav-footer);
    color: var(--texto-oscuro);
    align-items: center;
}

#email::placeholder, #password::placeholder {
    color: var(--nav-footer);
    font-style: var(--subtitulos);
}

#email:focus, #password:focus {
    outline: none;
    border-color: var(--nav-hover);
    background-color: #EDE6E0;
}

#email:focus::placeholder, #password:focus::placeholder {
    color: transparent;
}

.Acceder {
    margin-top: 15%;
    margin-left: 33%;
    width: 240px;
    height: 100px;
    background-color: var(--nav-footer);
    color: var(--texto-claro);
    border-radius: 41px;
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    border: none;
    cursor: pointer;
    transition: background-color 1s;
}

.Acceder:hover {
    color: var(--nav-hover);
}

.container {
    display: inline-flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 75%;
    background-color: var(--fondo-vistas);

}
.crearCuenta {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--nav-footer);
    width: 40%;
    padding-bottom: 10%;
    display: block;
    
}

.btnCrearCuenta {
    margin-left: 29%;
    width: 240px;
    height: 100px;
    background-color: var(--nav-footer);
    color: var(--texto-claro);
    border-radius: 41px;
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--texto-claro);
    cursor: pointer;
    transition: background-color 1s;
}

.btnCrearCuenta:hover {
    color: var(--nav-hover);
    border: 1px solid var(--nav-hover);
}

.preguntaCuenta {
    text-align: center;
    color: var(--texto-claro);
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    margin-bottom: 1%;
    background-color: var(--nav-footer);
}

.crearAhora {
    text-align: center;
    color: var(--texto-claro);
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    margin-bottom: 10%;
    background-color: var(--nav-footer);    
}

.logoBushidoBeans {
    background-color: var(--nav-footer);
    width: 46%;
    margin-left: 28%;
    margin-top: 5%;
   }


.password-message, .email-message {
    text-align: center;
    background-color: var(--fondo-vistas);
    font-style: var(--subtitulos);
    color: red;
}

.contenedorEmail {
    background-color: var(--fondo-vistas);
}

.contenedorPassword {
    background-color: var(--fondo-vistas);
}
