.login-secundario{
    background-color: var(--fondo-vistas);
    border-radius: 40px 200px 200px 40px;
    padding-bottom: 10%;

}
.container-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: var(--nav-footer);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: var(--nav-footer);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 5% 0;
}

.CrearCuenta {
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    color: var(--texto-principal);
    text-align: center;
    margin-top: 30px;
}

.Acceder-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorEmail-secundario,
.contenedorPassword-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-footer);
    width: 100%;
    margin-bottom: 5%;
}

.btnCrearCuenta-secundario {
    width: 240px;
    height: 100px;
    background-color: var(--nav-footer);
    color: var(--texto-claro);
    border-radius: 41px;
    font-size: var(--subtitulos-size);
    font-weight: var(--font-weight-regular);
    border: 1px solid var(--texto-claro);
    cursor: pointer;
    transition: background-color 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

.preguntaCuenta-terciario {
    color: var(--texto-claro);
    text-align: center;
    font-size: var(--subtitulos-principal);
    font-weight: 400;
    padding: 1%;
}
.email-message-secundario, .password-message-secundario{
    background-color: var(--nav-footer);
}
.logo-button-secundario{
background-color: var(--fondo-vistas);
border: none;
border-radius:33% ;
}