@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: var(--fondo-vistas);
}
:root{
    --fondo-vistas: #F3EEEB;
    --nav-footer: #295026;
    --letras-nav: #FFFDEA;
    --nav-hover: #E6D429; 
    --nav-click: #BFB022;
    --dark-brown: #654326;
    --dark-hover: #50351E;
    --dark-active-brown: #3C2816;
    --darker-brown: #2F1F12;
    --titulos:'Poppins', sans-serif,30px, 600;
    --subtitulos: 'Poppins', sans-serif,25px,400;
    /* --cuerpo: 'Poppins'  */ /*Descubrir como poner vollkron*/

}
