/* -----GENERAL----- */

.container {
  color: var(--letras-nav);
  font-family: "Vollkorn", sans-serif;
  background-color: var(--fondo-pagina);

}


/* -----CONTENIDO----- */
.article1,
.article2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5%;
}

.article1 {
  flex-direction: row-reverse;
}

/* -----TEXTO----- */
.texto {
  width: 50%;
  text-align: justify;
}

.texto h2 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--subtitulos-size);
  text-align: center;
  padding: 1.5rem 0rem;
}

.texto p {
  font-family: 'Vollkorn', sans-serif;
  font-size: var(--texto-size);
}


/* -----IMAGEN----- */
.article1 img,
.article2 img {
  min-width: 350px;
  width: 40%;
  border-radius: 20px;
}

@media (max-width: 830px) {
  .article1,
  .article2 {
    display: block;
    padding: 5%;
  }
}